<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir HTTP a HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # No redirigir las solicitudes a proxy.php
    RewriteCond %{REQUEST_URI} !^/proxy.php$

    # Redirigir todas las solicitudes que no son para archivos existentes a index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [QSA,L]
</IfModule>