.fondoHome {
    background-image: url(../img/bg-home.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content{
  background-image: url("../img/bg-tables.png");
  background-size: cover;
  background-position: center 56px;
  background-attachment: fixed;
  min-height: calc(100vh - 56px);
}

.sidebar-wrapper{
  background-color: #fce596;
  left: 0px;
}

/* #content {
    position: relative;
    width: 50%;
    flex-grow: 8;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 195px;
    transition: .600s;
    padding: 15px;
} */