<script id="cierre-diario-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-6">
            <div>
                <h5>Delivery</h5>
            </div>
            {{#each delivery-report}}
            <div class="row">
                <div class="col-8">{{nombre}}</div>
                <div class="col-4 text-right">{{num_ordenes}}</div>
            </div>
            {{/each}}
        </div>
        <div class="col-6">
            <div>
                <h5>Pickup</h5>
            </div>
            {{#each pickup-report}}
            <div class="row">
                <div class="col-8">{{nombre}}</div>
                <div class="col-4 text-right">{{num_ordenes}}</div>
            </div>
            {{/each}}
        </div>
    </div>
</script>