<div class="product-tab4 bg-white drop-shadow">
    <div class="tab-header4">
        <div class="col-md-8">
            <h2 class="title30 font-bold">{{titulo}}</h2>
        </div>
        <div class="col-md-4 style-3" style="text-align: right;">
            <ul class="table-controls">
                <li><a href="javascript:void(0);" data-value="{{id}}" class="btnEditarSeccion" title="Editar"><i data-feather="edit-2"></i></a></li>
                <li><a href="javascript:void(0);" data-value="{{id}}" class="btnEliminarSeccion" title="Eliminar"><i data-feather="trash"></i></a></li>
            </ul>
        </div>
        <div class="col-md-12"><hr/></div>
    </div>
    <div>
        {{{html}}}
    </div>
</div>